*{
	margin: 0;


}

:root{
    --brown:#A47551;
    --sand-doller:#E4D4C8;
    --tan:#D0B49F;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --carafe:#523A28;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background-color: var(--carafe);
    color: var(--sand-doller);
    text-transform: capitalize;
  
    
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    padding:10px 0 10px 0;
   
}
.header__logo{
    width: 25%;
}
.header__navbar{
    width: 50%;
   
}
.header__icons{
    width: 25%;
    text-align: right;
    margin-top: 10px;
}
.header__logo img{
    width: 15%;

}
.header__logo h1{
    display: inline-block;
    font-size: 35px;
    font-family: "Dancing Script";
}
.header__navbar a{
    color: var(--sand-doller);
    padding: 10px 0 10px 5px;
}
.header__navbar li{
    padding:10px 0 10px 0;
}


.header__navbar a:hover{
   color: var(--sand-doller);
}

header .header__icons i{
    cursor: pointer;
    margin-left: 10px; 
    line-height:50px;
    width:45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    color:var(--brown);
    border-radius: 50%;
    background: var(--tan);
}

header .header__icons i:hover
{
    color:var(--sand-doller);
    transform: rotate(360deg);
    transition: all linear .5s;
}

.header__navbar--links{
  position: static;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-self: center;
  margin-top: 20px;
  
}
  .header__navbar--links li{
    list-style-type: none;
    display: inline-block;
   
  }
  .header__navbar--links ul{
    padding: 0;
    margin: 0;

  }
  .header__navbar--links a{
    text-decoration: none;
    padding-right:5px;
  }

  .header__navbar--links li:hover a{
    color: var(--tan);
    }
    .header__navbar--links li:hover i{
        transition: .5s;
        transform: rotate(180deg);
        color: var(--tan);
    }
 .list-child{
    list-style: none;
    padding-left: 0;
    position: absolute;
    background-color:var(--carafe);
    color: var(--sand-doller);
    display: none;
     top: 65px;
     width:15%;

  }
  
 .header__navbar--links .products_hover:hover .list-child{
    display:block;

}
.list-child li a{
    color: var(--sand-doller) !important;
}
.list-child li:hover a{
color: var(--tan) !important;
}
.list-child > li{
  list-style-type: none;
  display:block;
  border-bottom: 1px solid var(--sand-doller);
  text-align: left;  
}
.list-child :last-child{
  border-bottom: none;
}
.header__navbar .header__navbar--links li:hover > .list-child{
    perspective: 1000px;
}
.header__navbar .header__navbar--links li:hover > .list-child li{
    transform-origin: top center;
    opacity: 0;
    display: block;
}
.header__navbar .header__navbar--links li:hover > .list-child li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
}
.header__navbar .header__navbar--links li:hover > .list-child li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
}
.header__navbar .header__navbar--links li:hover > .list-child li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
}
.header__navbar .header__navbar--links li:hover > .list-child li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
}
.header__navbar .header__navbar--links li:hover > .list-child li:nth-child(5){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 450ms;
}
.header__navbar .header__navbar--links li:hover > .list-child li:nth-child(6){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 600ms;
}
.header__navbar .header__navbar--links li:hover > .list-child li:nth-child(7){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 750ms;
}
@keyframes animate{
0%{
    opacity: 0;
    transform: translateX(-100px);
}
70%{
    opacity: 0;
    transform: translateX(20px);
}

100%{
    opacity: 1;
    transform: translateX(0px);
}



}
#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    font-size: 40px;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border:none;
    border-bottom: .1rem solid var(--sand-doller);
    padding:1rem 0;
    color:var(--sand-doller);
    text-transform: none;
    background:none;
    font-size: 40px;
}

#search-form #search-box::placeholder{
    color:var(--sand-doller);
    font-size: 30px;
    padding-left: 10px;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:var(--sand-doller);
    cursor:pointer;
    font-size: 30px;
}

#search-form label:hover{
    color:var(--carafe);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 40px;
}
.header__btn_buy{
    background-color: transparent;
    color: var(--sand-doller);
    font-size: 18px;
    border:3px solid var(--tan);
    border-radius: 20px;
    padding:5px 15px 5px 15px;
    margin-left: 20px;
}
.header__btn_buy:hover{
    background-color: var(--sand-doller);
    color: var(--brown);
}








.main {
    width: 100vw;
    height: auto;
    background-color:var(--carafe);
    position: absolute;
    z-index: 1000;
    top: 65px;
   left: 0;
   transform: translateX(-50);
   color: var(--sand-doller);
   display: flex;
   display:none; 
   border-top: 1px solid var(--sand-doller);
 

  }
 .main__text h2{
    color: var(--sand-doller);
    font-size: 50px;
   position: absolute;
   left: 40%;
 }
  .menus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left:50px;
    margin-top: 50px;
  }
  .menu-column {
    width: 33.3%;
 padding-right:100px;
    
  }
  .single-menu {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  .single-menu img {
    border-radius: 50%;
    max-width: 120px;
    border: 1px dashed var(--tan);
    padding: 3px;
    margin-right: 15px;
    transition: .3s;
  }
  .single-menu:hover img{
      transform: rotate(360deg);
  }
  .single-menu .menu-content h5 {
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px dashed var(--tan);
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .single-menu .menu-content h5 span {
    color: var(--brown);
    float: right;
    font-weight: 600;
    font-style: italic;
  }
  .header__navbar--links .menu_hover:hover .main{
    display:block;

}
.menu{
	width: 85%;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.menu__img{
	background-image: url(../images/cover.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 150PX;
	font-family: 'Dancing Script', cursive;
height: 500px;
text-align: center;
color: white;
display: flex;
align-items: center;
justify-content: center;
}
.animate__animated{
    font-family: 'Dancing Script', cursive;

	animation-duration: 3s;
}
.menu-card{
margin: 10px 10px 10px 0;
padding: 0;
  width: 33%;


}
.menu-card-img{
  padding-bottom: 0;
  position: relative  ;
 border: none;
 height: 300px;
}
.menu-card-img img{
  display: block;
  width: 100%;
  height: 100%;

}
.element-bottom{
   border: solid 1px #E6E6E6;
   text-align: center;
   height: 80px;
 
 
   

}

.menu-title a{
	margin-top: 20px;
  font-weight: 500;
  color: #282828;
  text-decoration: none;

}
.menu-title a:hover{
  color:#f05a66 ;
}

.PRICE{
	text-align: center;
  line-height: 1.5  ;
  display: block; 
  background-color: #523A28;
  color: white;
  padding-top: 10px;
  width: 50px;
  height: 65px;
  position: absolute;
  top: 0;
  right: 0;
}
.menu__image--button {
	
  color: white;
  background-color: #523A28;
  position: relative;
  left: 0;
  right: 0;
  bottom: 35px;
  z-index: 1;
  height: 38px;
  opacity: 0;
  display: block;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: .3px;
  transform: translateY(103%);
  box-shadow: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  backface-visibility: hidden;

}

.menu-card:hover .menu__image--button {
  transform: translateY(0%);
  opacity: 1;
}
.row{
	display: flex;

}
.page__counter{
    display: flex;
    justify-content: center;

    text-align: center;
}
.page__counter li{
    margin: 20px 10px;
    list-style-type: none;
    display: inline;

}
.page__counter a{
color:#523A28 ;
    text-decoration: none;
    padding: 0 5px;
}
.page__counter a:hover{
    background-color: #523A28;
    color: white;
}
.footer{
  background-color: #262626;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.footer-elements{

  line-height: 30px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 50px;
  color: white;

}
.contact-us{
  width: 20%;
}
.main-word{
  margin-bottom: 20px;
  font-size: 18px;
}
.contact-us a{text-decoration: none;
  color:#999999 ;

}
.content a{
  text-decoration: none;
  color:#999999 ;
  display: block;
}
.content a:hover{
  color: white;
}
.Copyright{
  text-align: center;
  background-color:#262626 ;
  color: #999999;
  padding-bottom: 30px;
}